img.ajax_loader{
    position: fixed;
    z-index: 99999999;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 4em;
    width: 4em;
    display: none;
}