@charset "UTF-8";

@font-face {
  font-family: "java-valley";
  src:url("fonts/java-valley.eot");
  src:url("fonts/java-valley.eot?#iefix") format("embedded-opentype"),
    url("fonts/java-valley.woff") format("woff"),
    url("fonts/java-valley.ttf") format("truetype"),
    url("fonts/java-valley.svg#java-valley") format("svg");
  font-weight: normal;
  font-style: normal;

}